<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".testing.KeyboardPreviewFixtureActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".testing.ExpressionManagerFixtureActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".testing.InputFixtureActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
    </application>
</manifest>
